.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding: 8px;
  background: var(--main-accent-gradient);

  color: var(--text-light);
  border-radius: 8px;
  border: none;

  cursor: pointer;
}

.buttonLight {
  background: var(--main-bg-color);
  color: var(--text-primary-accent)
}